* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Include Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply Montserrat to your desired elements */




/* Light theme styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
  }
}

// styles.scss

$primary-color: #3498db; // Dodger Blue
$secondary-color: #2c3e50; // Dark Blue Gray
$accent-color: #1abc9c; // Turquoise Green

// Mixin to create a gradient background
@mixin colorful-background {
  background: linear-gradient(to right, $primary-color, $secondary-color, $accent-color);
}
@mixin mobile-friendly-background {
  background: linear-gradient(to right, $primary-color, $accent-color);
}

// Apply the colorful background to the body
body {
  @include colorful-background;
  font-family: 'Montserrat', sans-serif;
  @media (max-width:768px) {
    @include mobile-friendly-background
  }
}

// Feel free to add more styles for other elements in your application
.app-container{
  max-width: 1440px;
  max-height:100vh ;
}

/* Add your additional styles here for light and dark themes */


a {
  text-decoration: none; // Remove underline
  color: inherit; // Inherit text color from the parent
    &:focus {
        outline: none; // Remove the default focus outline
      }
}

$navbar-width: 70px;

.grid-container {
  display: grid;
  grid-template-columns: $navbar-width 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'navbar main';
  height: 100vh;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto $navbar-width; // Swap the order for small screens
    grid-template-areas:
      'main'
      'navbar';
  }
}