* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Include Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply Montserrat to your desired elements */



// styles.scss

$primary-color: #3498db; // Dodger Blue
$secondary-color: #2c3e50; // Dark Blue Gray
$accent-color: #1abc9c; // Turquoise Green

// Dark colors for night mode
$dark-primary-color: #000000; // Black
$dark-secondary-color: #333333; // Dark Gray
$dark-accent-color: #666666; // Dim Gray

// Mixin to create a gradient background
@mixin colorful-background {
  background: linear-gradient(to right, $primary-color, $secondary-color, $accent-color);
}

@mixin dark-background {
  background: linear-gradient(to right, $dark-primary-color, $dark-secondary-color, $dark-accent-color);
}

@mixin mobile-friendly-background {
  background: linear-gradient(to right, $primary-color, $accent-color);
}

@mixin mobile-friendly-dark-background {
  background: linear-gradient(to right, $dark-primary-color, $dark-accent-color);
}

// Apply the colorful background to the body
body {
  @include colorful-background;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 768px) {
    @include mobile-friendly-background;
  }

  // Night mode styles
  @media (prefers-color-scheme: dark) {
    @include dark-background;

    @media (max-width: 768px) {
      @include mobile-friendly-dark-background;
    }
  }
}

// Feel free to add more styles for other elements in your application
.app-container{
  max-width: 1440px;
  max-height:100vh ;
}

/* Add your additional styles here for light and dark themes */


a {
  text-decoration: none; // Remove underline
  color: inherit; // Inherit text color from the parent
    &:focus {
        outline: none; // Remove the default focus outline
      }
}

$navbar-width: 70px;

.grid-container {
  display: grid;
  grid-template-columns: $navbar-width 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'navbar main';
  height: 100vh;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto $navbar-width; // Swap the order for small screens
    grid-template-areas:
      'main'
      'navbar';
  }
}